.btn-logout,
.orders-label {
    margin-top: .6em;
}

.text-jumbo {
    font-size: 4em;
    font-weight: bold;
}

.progress {
    width: 100%;
}

footer {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: #5e5e5e;
    color: #ddd;
    font-size: 1em;
}
